body{
    position: relative;
    padding-top: 80px;
}
body header{
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0;
}
#section-one .container{
    background-color: #565656;
}
#section-one .container .row .col-one{
    background-color: #008800;
}
#section-two .container-fluid{
    background-color: #1515;
}
#section-example .container-fluid .row .color-one{
    background-color: #e9da1055;
}
#section-example .container-fluid .row .color-two{
    background-color: #11165555;
}
#section-three .container .color-three{
    background-color: #a70bf0ea;
    height: 200px;
}
#positions{
    background-color: #22db22e3;
    height:400px;
    position: relative;
}
#positions .img-one{
    position: absolute;
    left: 20%;
    top: 25%;
    z-index: 2;
}
#positions .img-two{
    position: absolute;
    left: 25%;
    top: 35%;
    z-index: 2;
}
#positions .img-three{
    position: absolute;
    left: 20%;
    top: 55%;
    z-index: 2;
}
#positions .row .color-positions{
    background-color: #1313999d;
}